#image {
    width: 100%;
    border-color: #5e5d68;
    border-width: 4px;
    border-style: solid;
    border-radius: 9px;
    text-align: center;
}

.content-box {
  box-shadow: 0 10px 20px #cb65cb, 0 6px 6px #cb65cb;
  background-color: #262626;
  border-color: #0d0d0d;
  border-width: 4px;
  border-style: solid;
  border-radius: 9px;
  padding: 3%;
  color: #e6e6e6;
  margin: 10px;
  margin-bottom: 30px;
}
 
.font-oswald {
  font-family: 'Oswald', sans-serif;
}

#info-title {
  padding-top: 3%;
  padding-bottom: 1%;
}

#text {
  text-indent: 5%;
}

#more a {
  text-decoration: none;
  color: #a8a8a8;
}

#more li {
  padding-bottom: 1%;
}

#more a:hover {
  text-decoration: underline;
}

#img-div {
  position: relative;
  text-align: center;
}