#image {
    width: 100%;
    border-color: #c3c1d7;
    border-width: 4px;
    border-style: solid;
    border-radius: 9px;
    text-align: center;
}

.content-box {
  box-shadow: 0 10px 20px purple, 0 6px 6px purple;
  background-color: #262626;
  border-color: #0d0d0d;
  border-width: 4px;
  border-style: solid;
  border-radius: 9px;
  padding: 10px;
  color: #e6e6e6;
}
 
.font-oswald {
  font-family: 'Oswald', sans-serif;
}

#more a {
  text-decoration: none;
  color: #a8a8a8;
}

#more a:hover {
  text-decoration: underline;
}

#img-div {
  position: relative;
  text-align: center;
}